*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
html{
    font-size: calc(100vw/640px);
    margin: 0 auto;
    
}

img{

    width: 100%;
    /* height: 100%; */
    vertical-align: middle;
}
a{
    color: inherit;
    text-decoration: none;
}